@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Grays */
  --color-graphite: #121417;
  --color-dark: #1d2529;
  --color-charcoal: #2a3439;
  --color-slate: #36454d;
  --color-steel: #4f6571;
  --color-ash: #5f737e;
  --color-mist: #8ca2af;
  --color-cloud: #b0bfc8;
  --color-frost: #d4dce1;
  --color-light: #f8f9fa;

  /* Greens */
  --color-green-deep: #1f3a29; /* very dark green*/
  --color-green-dark: #2e5b3c; /* darker shade for contrast */
  --color-green-accent: #68ab7c; /* accent */
  --color-green-bright: #88c799; /* slightly lighter */
  --color-green-soft: #a8d9b7; /* pastel-like */
  --color-green-mist: #d4ede0; /* very light */

  /* Blue */
  --color-navy: rgba(32, 34, 65, 1);

  /* Reds */
  --color-red-pale: #d98282;

  /* Oranges */
  --color-orange-muted: #ff8a3d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  button {
    @apply transition-colors duration-200;
  }
}

/*Animations*/

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Utility class */
.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}


/*Large tea leaf spin loader*/
@layer utilities {
  @keyframes leaf-rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .animate-leaf-rotate {
    animation: leaf-rotate 2.8s linear infinite;
  }
}

@layer utilities {
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-orbit {
    animation: orbit 1.2s linear infinite;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  .animate-shimmer {
    animation: shimmer 1.2s ease-in-out infinite;
  }
}



/*button animations*/

button {
  @apply transition-transform duration-150;
  @apply active:scale-95;
  cursor: pointer;
}

/*hover effects*/

button:hover:not(.nohover) {
  @apply bg-green-soft text-dark;
}

a:hover:not(.nohover) {
  @apply text-green-soft;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
